<h3 class="panel-title"><i class="fa fa-tasks"></i> Users List</h3><br>
<table st-table="rowCollection" class="table table-striped">
	    <thead>
	      <tr>
		      <th>Name</th>
		      <th>username</th>
		      <th>phone number</th>
	      	<th>Email</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr ng-repeat="row in rowCollection">
      		<td>{{row.firstName}}</td>
        	<td>{{row.lastName}}</td>
    	  	<td>{{row.birthDate}}</td>
      		<td>{{row.email}}</td>
          <td><i class="fa fa-pencil"></i></td>
          <td><i class="fa fa-trash"></i></td>
       	</tr>
	    </tbody>
    </table>